TG_TOKEN=8763787782:AAFEVUhOEmFaVROLghXoBY0IIwEabZYR1ww
TG_TIMEOUT=10s
TG_ADMIN_IDS=1055380106

GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

TICKTICK_ACCESS_TOKEN=
TICKTICK_BASE_URL=https://api.ticktick.com/open/v1
TICKTICK_DEFAULT_PROJECT_ID=

USER_TIMEZONE=Asia/Almaty
APP_MODE=dev
APP_DEBUG=true
APP_LOG_LEVEL=debug
